<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="my-12">
        <div class="container mx-auto">
            <div class="flex justify-between">
                <img src="" alt="">
                <div>
                    <h2></h2>
                    <p></p>
                    <table>


                    </table>
                    <form action="#">
                        <input type="number" min="1" value="1">
                        <button type="submit" class="">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="module">
            import Movie from "./components/Movie.js";

            let id= 0;
            
            LatestMovies({
            container:document.querySelector('#shop'),
            id: id
        })
    </script>
</body>
</html>